@{
    ViewData["Title"] = "Welcome to the Sacrament Meeting Planner";
}

<div class="regular">
    <section id="right" class="left">
        
    <a class="btn btn-listlg" asp-action="Create">Find Meeting</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    </section>
    <section id="right" class="right">
        <img class="img" src="~/img/Blessing_the_sacrament.jpg" />
    </section>
</div>
