@{
  ViewData["Title"] = "Welcome to the Sacrament Meeting Planner";
}
<br />
<div class="card-container">
  <div class="md:flex">
    <div class="md:shrink-0">
      <img class="card-img object-cover h-full" src="~/img/sm2tall.jpg"
        alt="Church members sitting in chapel while sacrament is passed with child in foreground taking a cup of water">
    </div>
    <div class="p-8 ">
      <p class="mb-2">
        Using this Sacrament Meeting Planner, you will find it is easy to add member names to a database, and select up
        to 4 hymns and members for each meeting from searchable drop-down lists by starting to type in the select boxes:
      </p>
      <ul class="mb-2 font-medium">
        <li>up to 9 pre-programmed speakers per meeting</li>
        <li>space for intermediate musical numbers</li>
        <li>Invocations/Benedictions</li>
      </ul> 
       <p class="mb-2">You can search for the names by first name or last name, and hymns by number or title.</p>
      
      @*
        <a class="card-links" href="./Meeting/Index/">Find a Meeting</a>
        <br />
        <a class="card-links" asp-action="./Meeting/Create/">Add Meeting</a>
        <br />
        <a class="card-links" asp-action="./Member/Create/">Add Member</a>*@
     
    </div>
  </div>
</div>
<br />
</div>
