@page
@*@model IndexModel*@
@{
    ViewData["Title"] = "Home";
}

<main class="homepage">
    <section class="left">         
       @* <img class="home" src="/img/mainmenu.jpg") />*@
    </section>
    <section class="right">     
        <a class="navlink" asp-area="" asp-page="/Index">Add Quote</a>   
        <a class="navlink" asp-area="" asp-page="/Pages/DeskQuotes/Index">View Quotes</a>
        <a class="navlink" asp-area="" asp-page="/Pages/Index#search">Search Quotes</a>
    </section>
   
   @* <h1 class="title">MegaDesk v. 3.0</h1>*@
    
</main>
