@page
@model IndexModel

    <h1 class="">Home</h1>
<main class="homepage">
    <section class="left home">         
        
    </section>
    <section class="right"> 
    </section>  
</main>
