@page
@*@model IndexModel*@
@{
    ViewData["Title"] = "";
}

<main class="homepage">
    <section class="left">         
        @*<img class="home" src="/img/mainmenu.jpg") />*@
    </section>
    <section class="right"> 
    </section>
   
   @* <h1 class="title">MegaDesk v. 3.0</h1>*@
    
</main>
