@page
@model IndexModel

<main class="homepage">
    <h1 class="title">Home</h1>
    <section class="left home">         
        
    </section>
    <section class="right"> 
    </section>  
</main>
