@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Montserrat:wght@300&display=swap");
body {
  background: darkkhaki;
  padding: 1%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merienda", sans-serif;
  background: darkkhaki;
  border-radius: 0px;
  padding: 2rem;
  margin: 0;
}

.navcontainer {
  border-radius: 4px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  text-align: center;
}

.navbar-nav {
  background: darkkhaki;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  list-style-type: none;
  justify-content: space-between;
}

hr {
  color: lemonchiffon;
  line-height: 2px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

ul.navbar-nav li a {
  list-style-type: none;
}

li a.navlink {
  font-family: "Montserrat", sans-serif;
  font-size: small;
  background: darkolivegreen;
  color: lemonchiffon;
  width: 10rem;
  text-align: center;
  padding: 4%;
  text-decoration: none;
  list-style-type: none;
}
li a.navlink :hover {
  color: darkolivegreen;
  border: 1px solid darkolivegreen;
  background: lemonchiffon;
  text-decoration: underline;
}

.text, li {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: medium;
}

.btn, a.btn, input.btn {
  background: lemonchiffon;
  color: darkolivegreen;
  border: 1px solid darkolivegreen;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  font-weight: 900;
  text-decoration: none;
  padding: 1%;
  margin-bottom: 2vh;
  text-align: center;
}
.btn :hover, a.btn :hover, input.btn :hover {
  background: darkolivegreen;
  color: lemonchiffon;
  border: 1px solid lemonchiffon;
}

.smbtn {
  font-size: smaller;
}

.btn, li {
  margin: 1%;
}

.btn, .inputs {
  padding: 1%;
  margin: 0 auto;
}

.inputleftpad {
  background: darkolivegreen;
  color: lemonchiffon;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

table {
  max-width: 100%;
  max-width: 90%;
  border-collapse: collapse;
  border: 1px solid darkolivegreen;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: medium;
}

table th {
  background: darkolivegreen;
  color: lemonchiffon;
}
table th a {
  color: darkkhaki;
}
table th :hover {
  color: lemonchiffon;
}
table tbody {
  background: lemonchiffon;
}
table tr:nth-of-type(odd) {
  background: white;
}
table td, table th {
  text-align: left;
  padding: 5px 10px;
}

td a.btn {
  background: darkkhaki;
  color: darkolivegreen;
  font-size: medium;
  font-weight: 900;
  border: 2px solid darkolivegreen;
}

.quoteActions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid darkolivegreen;
}

.quoteActions a {
  text-decoration: none;
  margin: 5px;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  width: 100vw;
  padding: 2vw;
  background: darkkhaki;
  color: darkolivegreen;
  border: none;
}

.inputs {
  background: darkolivegreen;
  color: lemonchiffon;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  width: 25vw;
}

label.labels {
  color: lemonchiffon;
  padding: 1%;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

li.labels {
  list-style-type: none;
  margin: 2vh 15vw;
}

.createpage {
  background: darkkhaki;
}

.img-bg {
  background-image: url("/../../../img/addQuote.jpg");
  background-position: center center;
  background-size: cover;
}

div.editpage {
  background-image: url("../../../img/addQuote.jpg");
}

.viewpage {
  background-image: url("../../../img/displayQuote.jpg");
  min-height: 100vh;
  padding-top: 2vh;
}

#search {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
#search input.inputs {
  width: 50%;
}

.deletepage {
  background-image: url("../../../img/addQuote.jpg");
}

.detailpage {
  background-image: url("../../../img/displayQuote.jpg");
  background-size: cover;
  max-width: 100%;
}

.detail-list {
  height: 50vh;
  padding: 20vh 0 0 20vw;
}

.homepage {
  background-image: url(../../../img/displayQuote.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

a.title {
  text-decoration: none;
}

header {
  margin-bottom: 2vh;
}

.title {
  background: lemonchiffon;
  color: darkolivegreen;
  font-family: "Merienda", sans-serif;
  border: 2px solid darkolivegreen;
  padding: 2%;
  text-decoration: none;
}

.title, a, .navlink {
  border-radius: 4px;
  max-width: 100%;
}
.title :hover, a :hover, .navlink :hover {
  background: darkolivegreen;
  color: lemonchiffon;
  border: 1px solid lemonchiffon;
}

a:hover {
  color: lemonchiffon;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 20px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  width: 100%;
  white-space: nowrap;
  text-align: center;
  margin: 1% auto;
  line-height: 60px;
  /* Vertically center the text there */
}
.footer a {
  color: lemonchiffon;
}
.footer a :hover {
  color: darkolivegreen;
}

@media screen and (min-width: 1000px) {
  .navbar-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }

  .homepage {
    grid-area: homepage;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left  right";
  }

  .left {
    grid-area: left;
  }

  .right {
    grid-area: right;
  }

  .btn, .inputs {
    padding: 1%;
  }
}
/*making table responsive*/
@media only screen and (max-width: 990px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table tr {
    border: 1px solid darkolivegreen;
  }

  table td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding: 0px;
    padding-left: 35%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0px;
    left: 0px;
    width: 30%;
    white-space: nowrap;
    background-color: darkolivegreen;
    color: lemonchiffon;
    padding-left: 5px;
  }

  /* Label the data */
  td:nth-of-type(1):before {
    content: "First Name";
  }

  td:nth-of-type(2):before {
    content: "Last Name";
  }

  td:nth-of-type(3):before {
    content: "Width";
  }

  td:nth-of-type(4):before {
    content: "Depth";
  }

  td:nth-of-type(5):before {
    content: "Drawers";
  }

  td:nth-of-type(6):before {
    content: "Material";
  }

  td:nth-of-type(7):before {
    content: "Rush Days";
  }

  td:nth-of-type(8):before {
    content: "Date";
  }

  td:nth-of-type(9):before {
    content: "Total";
  }

  .quoteActions {
    flex-direction: row;
    justify-content: space-between;
  }
}
