<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sacrament Meeting Planner</title>
     <link rel="stylesheet" href="~/css/output.css"/>
    <link rel="shortcut icon" href="/img/favicon.ico">
</head>
<body class="regular">
    <header class="header">
              <div
      class="min-h-screen p-10 pt-32 h-100"
    >
        <nav class="navbar w-full bg-white">
            <div class="container-lg px-0">
                <div class="flex w-full items-center">
                <a class="nav-brand mr-auto ml-0" href="#">Sacrament Meeting Planner</a>
                <button
                    navbar-trigger=""
                    class="navbar-trigger ml-auto mr-0 mb-0 lg:hidden xl:hidden"
                    type="button"
                    aria-controls="navigation"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-trigger-icon">
                    <span bar1="" class="navbar-trigger-bar mt-1"
                        ><span class="hidden origin-[10%_10%] rotate-45"></span
                    ></span>
                    <span bar2="" class="bar2 navbar-trigger-bar mt-2"></span>
                    <span bar3="" class="bar3 navbar-trigger-bar mt-2"
                        ><span
                        class="mt-mt-[0.4375rem] hidden origin-[10%_90%] -rotate-45"
                        ></span
                    ></span>
                    </span>
                </button>
                </div>
                <div class="collapse navbar-collapse" navbar-menu="">
                <ul class="navbar-nav">
                    <li>
                 <a class="nav-link" asp-area="" asp-controller="Meetings" asp-action="Create">Add Meeting</a>
                    </li>
                    <li>
                <a class="nav-link" asp-area="" asp-controller="Meetings" asp-action="Index">Meetings</a>
                    </li>
                    <li>
                <a class="nav-link" asp-area="" asp-controller="Members" asp-action="Index">Members</a>
                    </li>
                    <li>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container px-3">
        <main class="regular">
            <h2 class="headings h2">@ViewData["Title"] </h2>
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="">
            &copy; 2022 - Sacrament Meeting Planner - BYU-I, Spring 2022, Section 02, Team Israel <a asp-area="" asp-controller="Home" asp-action="Privacy" class="h6 link">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
