<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sacrament Meeting Planner</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/output.css" />
    <link rel="stylesheet" href="~/css/program.css" />

    <link rel="shortcut icon" href="/img/favicon.ico">
</head>

<body class="regular relative">
    <header class="header">
        <nav class="container px-3 mx-auto bg-amber-900">
            <div class="max-w-6xl mx-auto px-4">
                <div class="flex justify-between">
                    <div class="flex space-x-7">
                        <div>
                            <a href="/" class="flex items-center py-4 px-2">
                                <span class="font-semibold text-lg text-amber-100">Sacrament Meeting Planner </span>
                            </a>
                        </div>

                    </div>

                    <!-- Secondary Navbar items -->
                    <div class="hidden md:flex items-center space-x-3 ">
                        <!-- Primary Navbar items -->
                        <div class="hidden md:flex items-center space-x-4">
                            <a class="py-4 px-2 text-amber-200 
                                font-semibold" asp-area="" asp-controller="Meetings" asp-action="Create">Add
                                Meeting</a>
                            <a class="py-4 px-2  text-white font-semibold hover:text-white transition duration-300"
                                asp-area="" asp-controller="Members" asp-action="Index">Members</a>
                            <a class="py-4 px-2 text-white font-semibold hover:text-amber-200 transition duration-300"
                                asp-area="" asp-controller="Meetings" asp-action="Index">Meetings</a>
                            <a class="py-4 px-2 text-white font-semibold hover:text-amber-200 transition duration-300"
                                asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </div>
                    </div>
                    <!-- Mobile menu button -->
                    <div class="md:hidden flex items-center">
                        <button class="outline-none mobile-menu-button">
                            <svg class="w-6 h-6 text-amber-200 hover:text-white " x-show="!showMenu" fill="none"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- mobile menu -->
            <div class="hidden mobile-menu">
                <ul class="space-y-6">
                    <li class="hover:bg-amber-500 hover:text-amber-900 text-white transition duration-300"><a
                            asp-area="" asp-controller="Meetings" asp-action="Create">Add Meeting</a></li>
                    <li class="hover:bg-amber-500 hover:text-amber-900  text-white transition duration-300"><a
                            asp-area="" asp-controller="Members" asp-action="Index">Members</a></li>
                    <li class="hover:bg-amber-500 hover:text-amber-900  text-white transition duration-300"><a
                            asp-area="" asp-controller="Meetings" asp-action="Index">Meetings</a></li>
                    <li class="hover:bg-amber-500 hover:text-amber-900  text-white transition duration-300"> <a
                            asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container px-3 mx-auto">
        <main class="regular py-16">
            @RenderBody()
        </main>
    </div>

    <footer
        class="bg-amber-900 flex justify-center p-4 text-center text-xs uppercase font-medium text-amber-200 fixed bottom-0 w-full">
        &copy; 2022 - Sacrament Meeting Planner - BYU-I, Spring 2022, Section 02, Team Israel
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"
        integrity="sha512-YcsIPGdhPK4P/uRW6/sruonlYj+Q7UHWeKfTAkBW+g83NKM+jMJFJ4iAPfSnVp7BKD4dKMHmVSvICUbE/V1sSw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const btn = document.querySelector("button.mobile-menu-button");
        const menu = document.querySelector(".mobile-menu");
        btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
