<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sacrament Meeting Planner</title>
     <link rel="stylesheet" href="~/css/output.css"/>
    <link rel="shortcut icon" href="/img/favicon.ico">
</head>
<body class="regular">
    <header class="header">
            <nav class="navbar">
                <a class=" h1 link" asp-area="" asp-controller="Home" asp-action="Index">Sacrament Meeting Planner</a>
                 <a class="btn btn-nav" asp-area="" asp-controller="Meetings" asp-action="Create">Add Meeting</a>
                <a class="btn btn-nav" asp-area="" asp-controller="Meetings" asp-action="Index">Meetings</a>
                <a class="btn btn-nav" asp-area="" asp-controller="Members" asp-action="Index">Members</a>
                <a class="btn btn-nav" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </nav>
    </header>
    <div class="container px-3">
        <main class="regular">
            <h2 class="headings h2">@ViewData["Title"] </h2>
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="">
            &copy; 2022 - Sacrament Meeting Planner - BYU-I, Spring 2022, Section 02, Team Israel <a asp-area="" asp-controller="Home" asp-action="Privacy" class="h6 link">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
