<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sacrament Meeting Planner</title>
     <link rel="stylesheet" href="~/css/output.css"/>
    <link rel="shortcut icon" href="/img/favicon.ico">
</head>
<body class="regular">
    <header class="header">
            <nav class="navbar">
                <a class="navbar h1" asp-area="" asp-controller="Home" asp-action="Index">Sacrament Meeting Planner</a>
                    <ul class="flex flex-row">
                        <li class="">
                            <a class="btn btn-nav" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="">
                            <a class="btn btn-nav" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
            </nav>
    </header>
    <div class="container px-3">
        <main class="regular">
            <h1 class="headings h1">@ViewData["Title"] </h1>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2022 - Sacrament Meeting Planner - BYU-I, Spring 2022, Section 02, Team Israel <a asp-area="" asp-controller="Home" asp-action="Privacy" class="headings h6 link">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
