<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/site.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
   @* <link rel="stylesheet" href="https://rus19023.github.io/myportfolio/css/megadesk.css" />*@
    @*<link rel="stylesheet" href="http://127.0.0.1:5501/css/megadesk.css" /> *@
    <link rel="shortcut icon" href="/img/favicon.ico">     
</head>
<body>
    <header>
        <nav class="navcontainer">
                <h1><a class="btn" asp-area="" asp-page="/Index">@ViewData["Title"]</a></h1> 
                @*<button class="btn smbtn" type="button" id="toggle" name="toggle">Menu</button>*@
                    <ul id="navbar" class="navbar-nav">
                        <li>
                            <a class="navlink" asp-area="" asp-page="/DeskQuotes/Create">New Quote</a>
                         </li>
                        <li>
                            <a class="navlink" asp-area="" asp-page="/DeskQuotes/Index">All Quotes</a>
                         </li>
                        <li>
                            <a class="navlink" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
        </nav>
        <hr />
    </header>
        <main role="main" class="">
            @RenderBody()
        </main>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2022 - Mega Desk LLC <a asp-area="" asp-page="/Privacy">Privacy Policy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
